@import "tailwindcss";

@layer utilities {
  .button-animation {
    animation: button-animation 4s infinite;
  }

  @keyframes button-animation {
    0% {
      background-color: hsl(198, 100%, 50%);
      box-shadow: 0 0 2px 1px hsl(198, 100%, 50%);
      /* Red */
    }

    50% {
      background-color: hsl(188, 100%, 50%);
      box-shadow: 0 0 2px 1px hsl(188, 100%, 50%);
      /* Green */
    }

    100% {
      background-color: hsl(198, 100%, 50%);
      box-shadow: 0 0 2px 1px hsl(198, 100%, 50%);
      /* Blue */
    }
  }
}