@import "tailwindcss";

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

@theme {
  /* Typography */
  --text-h1: 69px;
  --text-h1--line-height: 79px;
  --text-h2: 55px;
  --text-h2--line-height: 63px;
  --text-h3: 44px;
  --text-h3--line-height: 51px;
  --text-h4: 35px;
  --text-h4--line-height: 40px;
  --text-h5: 28px;
  --text-h5--line-height: 32px;
  --text-h6: 23px;
  --text-h6--line-height: 27px;
  --text-p: 18px;
  --text-p--line-height: 29px;
  --text-small: 14px;
  --text-small--line-height: 22px;

  /* Colors */
  --color-primary: #924BF7;
  --color-secondary: #4A72F7;
  --color-gradient: linearGradient(45deg, #924BF7, #4A72F7);
  --color-black: #0D0C0D;
  --color-black75: #1B181B;
  --color-black50: #423D42;
  --color-black25: #857A85;
  --color-black10: #BFBCC2;
  --color-black5: #F3F2F3;
}

input:-webkit-autofill {
  background-color: #F3F2F3 !important;
  -webkit-box-shadow: 0 0 0px 1000px #F3F2F3 inset !important;
  -webkit-text-fill-color: #0d0c0d !important;
  color: #0d0c0d;
}

@layer utilities {

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50% - 12px));
    }
  }

  @keyframes dropshadow {
    0% {
      filter: drop-shadow(0 16px 32px rgb(74, 114, 247))
    }
    50% {
      filter: drop-shadow(0 16px 32px rgb(146,75,247))
    }
    100% {
      filter: drop-shadow(0 16px 32px rgb(74, 114, 247))
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  .animate-scroll-reverse {
    animation: scroll 30s linear infinite reverse;
  }

  .animate-scroll:active {
    animation-play-state: paused;
  }

  .animate-scroll-reverse:active {
    animation-play-state: paused;
  }

  .animate-drop-shadow {
    animation: dropshadow 8s linear infinite;
  }
}